/*Created by Halla Idris as Project Library of The Oden Project curriculum*/

:root{
  /*Color Palette*/
  --offWhite:rgba(255,255,255,255);
  --grey2:rgba(139,149,150,255);
  --oxfordBlue:#072448;
  --background1:#f9eddde3;
  --background2:#ffd7a2;
  --linesColor:#264e70;
  --darkGreen:#679186;
  --lightGreen:#e2e5e4bb;

}
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  letter-spacing: 1.5px;
  color: var(--grey2); /*to change the placeholder's color of the select tag */
}
.container{
  display: grid;
  grid-template: 1fr 5fr/ 1fr 3fr;
  background-color: var(--lightGreen);
  padding:12px 18px;
  gap:8px;
  min-height: 97.2vh;
}

/*left*/ 
label{
  color:var(--darkGreen);
  font-size: 1.3rem;
  font-weight: bold;
}
input,select{
  width: 100%;
  padding: 8px 6px;
  margin: 0 0 12px 0;
  display: inline-block;
  border: 1px solid var(--grey2);
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1rem;
  background-color: var(--offWhite);
  font-weight: bold;
}
input{
  color:rgb(80, 80, 80);
}
p{
  color:var(--oxfordBlue);
}
/*select[data-chosen] helps overcome select default styling issue*/

option,::placeholder, option:first-of-type{
  font-size: 1rem;
  font-weight: bold;
}
select[data-chosen]{
    color:var(--grey3);
    font-size: 1rem;
    font-weight: bold;
  }
select[data-chosen='yes'],select[data-chosen='no']{
  color:rgb(80, 80, 80);
}

/* {
  color:var(--grey3);
  font-weight: bold;
  font-size: 1rem;
}
 */




input:focus, select:focus{
  outline: none;
  border: 2px solid var(--grey2);
}

.logo{
  border: 8px solid var(--darkGreen);
  border-radius: 20px;
  grid-area: 1/1/2/2;
  background-color: var(--offWhite);
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
}
.logo>h1{
  color: var(--linesColor);
}
.logo>h1>span{
  color: var(--background2);
}
#add-book-form, button{
background-color: var(--darkGreen);
}
button{   
  padding:12px;
  border: 2px solid var(--darkGreen);
  border-radius: 10px;
  color: var(--darkGreen);
  font-size: 1.5rem;
  font-weight: bold;
  align-self: center;
  min-width: 150px;
}  
.add-book-btn{
  width: auto;
  background-color: var(--darkGreen);
  color: var(--offWhite);
  margin-top: 24px;
  padding:12px;
  border: 4px solid var(--offWhite);
  border-radius: 15px;
  font-size: 1.5rem;
  font-weight: bold;
  align-self: center;

}
.submit-btn,.reset-btn, .close-btn{
 max-width: 150px;
 padding:12px;
 border: 2px solid white;
 color: white;
 font-size: 1.2rem;
 background-color: var(--darkGreen);
 margin:5px;
}
.form{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  grid: 2/1/3/2;
  border: 6px solid var(--darkGreen);
  background-color: var(--offWhite);
  border-radius: 20px;
}
#add-book{
  margin-bottom: 16px;
}
#add-book-form{
  background-color: var(--background1);
  border-radius: 15px;
  margin: 10px 20px;
  padding:16px;
  display: none;
  flex-direction: column;
}

/*right*/
.books-heading{
  grid: 1/2/2/3;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 6px solid var(--darkGreen);
  background-color: var(--offWhite);
  border-radius: 20px;
}
.books-heading >h1{
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  color: var(--linesColor);
  margin-top: 10px;
  margin-right: 40px;
}
.books{
  background-image: linear-gradient(var(--background2), var(--lightGreen));
  border: 8px solid var(--darkGreen);
  border-radius: 20px;
  grid:2/2/3/3;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: minmax(250px, auto);
  gap: 16px;
  justify-content: flex-start;
  padding:20px 8px;
}
.card{
  display: flex;
  flex-direction: column;
  border: 8px solid var(--linesColor);
  color:var(--linesColor);
  background-color: var(--offWhite);
  border-radius: 15px;
  padding: 12px;
  margin:10px 20px;
  font-size: 1.8rem;
  justify-content: space-between;
  max-width: 300px;
  max-height: 220px;

}
.info>p{
   margin:8px;
}
.info{
  font-size: 1rem;
  font-weight: bold;
  color: var(--grey3);
  overflow:auto;
  overflow-wrap: break-word;
}
.actions{
  display: flex;
}
.delete-btn{
  color:white;
  background-color: var(--linesColor);
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
  padding:8px;
  align-self: center;
  min-width: 100px;
  flex-grow: 1;
}
.mark-as-read{
  display: flex;
  justify-content: flex-end;
  font-size: 0.8rem;
  font-weight: bold;
  color: var(--grey2);
  align-items: center;
  gap:6px;
  flex-grow: 4;
}
.read-btn{
  font-size: 1.1rem;
  font-weight: bold;
  align-self: center;
  border-radius: 50%;
  background-color: rgba(179, 179, 179, 0.727);
  color:white;
  border-style: none;
  padding:8px;
  min-width: 14px;
}
.read-btn.read.material-icons-outlined{
  background-color: var(--darkGreen);
}
.footer{
  grid-area: 3/1/4/3;
  background-color:var(--oxfordBlue);
  color: white;
  font-size: 0.8rem;
  text-align: center;
  padding: 6px;
  margin-bottom: 0;
}
