
:root{
  --blue:#2cb9c3;
  --hoverBlue:#28a7b0;
  /*Color Palette*/
  --offWhite:rgba(255,255,255,255);
  --grey1:rgba(174,184,185,255);
  --grey2:rgba(139,149,150,255);
  --turquosie1:rgba(161,216,219,255);
  --turquosie2:rgba(118,178,188,255);
  --turquosie3:rgba(72,113,119,255);
  --turquosie4:rgba(98,119,124,255);
  --grey3:rgba(74,78,89,255);
  --black:rgba(0,0,0,255);
}
*{
  margin:5px; /*make it 0*/
  padding:0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  letter-spacing: 1px;
}
/*left*/
/*
#form{
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(199, 198, 198);
  border-radius: 8px;
  align-items: center;
  background: var(--grey3);
  width:80%;
  padding:18px;
}
*/
label{
  color:white;
  font-size: 1.1rem;
  font-weight: bold;
}
input{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1rem;
}
.logo{
  border: 2px solid green;/*delete*/
  grid-area: 1/1/2/2;
  background-color: var(--turquosie2);
  color: var(--offWhite);
}
.logo>h1{
  text-align: center;
  margin-top: 32px;
  font-size: 3.5rem;
  font-weight: bold;
}
.logo>h1>span{
  color: var(--grey3);
}

#add-book-form,button{
background-color: var(--turquosie3);
}
button{
  padding:12px;
  border: 2px solid white;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}
.add-book-btn{
  border: 8px solid pink;/*delete*/
}
.submit-btn,.reset-btn, .close-btn{
 max-width: 150px;
}
.form{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  /*justify-content: flex-start; - -> return this in when adding status html element*/
  grid: 2/1/3/2;
  border: 2px solid purple;/*delete*/
}

#add-book-form{
  border: 2px solid blue;/*delete*/
  display: none;
  flex-direction: column;

}


.container{
  display: grid;
  grid-template: 1fr 5fr/ 1fr 3fr;/*make a grid on container and add status div to html*/
  border: 2px solid red;/*delete*/
  background-color: var(--backgroundColor);
  min-height: 100vh; /*Tried to remove vertical scrollbar when one page --> failed*/
}


/*right*/


.books-heading{
  border: 2px solid blue; /*Delete*/
  grid: 1/2/2/3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.books-heading >h1{
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--grey3);
}
h1{
  margin: 20px 0px;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}
.card{
  border: 4px solid grey;
  padding: 8px;
  margin:6px;
  font-size: 1.2rem;
}

.books{
  grid:2/2/3/3;
  border: 2px solid orange;/*delete*/
  /*margin:18px 24px 0px 8px;  return this*/
  display: grid;
  grid-template: repeat(3,1fr)/repeat(3,1fr);
  grid-auto-flow: row;
  grid-auto-rows: 1fr ;/*not sure*/
  gap:14px;
  place-items: center stretch;
  place-content: center stretch;
}




/*
.footer{
  grid-area: 3/1/4/3;
  background:var(--grey3);
  color: white;
  font-size: 0.8rem;
  text-align: center;
  padding: 8px;
  margin-bottom: 0;
}


input[type=submit]:hover {
  background-color: var(--hoverBlue);
}

