/*status:built a form 
  step 1: need to style the form with color palette and the form width and submit --> centered
  Step 2: Get the form data linked to the addBookToLibrary function
*/
:root{
  --blue:#2cb9c3;
  --hoverBlue:#28a7b0;
  /*Color Palette*/
  --offWhite:rgba(255,255,255,255);
  --grey1:rgba(174,184,185,255);
  --grey2:rgba(139,149,150,255);
  --turquosie1:rgba(161,216,219,255);
  --turquosie2:rgba(118,178,188,255);
  --turquosie3:rgba(72,113,119,255);
  --turquosie4:rgba(98,119,124,255);
  --grey3:rgba(74,78,89,255);
  --black:rgba(0,0,0,255);
}
*{
  margin:0;
  padding:0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  letter-spacing: 1px;
}
ul{
  list-style: none;
}

/*left*/
#form{
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(199, 198, 198);
  border-radius: 8px;
  align-items: center;
  background: var(--grey3);
  width:80%;
  padding:18px;
}
span[id=decoration-new]{
  color:var(--blue);
}
.logo>span{
  color:var(--black);
}
label{
  color:white;
  font-size: 1.1rem;
  font-weight: bold;
}
input{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1rem;
}
input[type=submit] {
  width: 50%;
  background-color:var(--blue);
  color: white;
  font-weight: 900;
  font-size: 1.5rem;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.logo{
  grid-area: 1/1/2/2;
  background-color: var(--turquosie2);
  color: var(--offWhite);
}
.logo>p{
  text-align: center;
  margin-top: 16px;
  font-size: 3.5rem;
  font-weight: bold;
}
.logo>p>span{
  color: var(--grey3);
}
.sidebar{
  grid-area: 2/1/3/2;
  background-color: var(--turquosie2);
  display: flex;
  flex-direction: column;
  align-items: center;

}
input[type=submit]:hover {
  background-color: var(--hoverBlue);
}

/*right*/

.container{
  display: grid;
  grid-template: 1.7fr 8fr 0.3fr/ 1fr 2fr;/*make a grid on container and add status div to html*/
  background-color: var(--backgroundColor);
  min-height: 100vh; /*Tried to remove vertical scrollbar when one page --> failed*/
}
.library{
  grid-area: 1/2/3/3;
  padding: 14px;
  display: flex;
  flex-direction: column;
}
h1{
  margin: 20px 0px;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}
.card{
  border: 2px solid grey;
  padding: 8px;
  margin:6px;
}
.books{
  margin:18px 24px 0px 8px;
  display: grid;
  grid-template: repeat(3,1fr)/repeat(3,1fr);
  grid-auto-flow: row;
  grid-auto-rows: 1fr ;/*not sure*/
  gap:14px;
  place-items: center stretch;
  place-content: center stretch;
}
.footer{
  grid-area: 3/1/4/3;
  background:var(--grey3);
  color: white;
  font-size: 0.8rem;
  text-align: center;
  padding: 8px;
  margin-bottom: 0;
}